body {
  background-color: yellow;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: "Arial";
  font-size: 20px;
}

.h1-override {
  color: red;
  text-align: justify;
}

h2 {
  color: #33adff;
}

h3 {
  color: rgb(255, 0, 255);
}
